# Ignore by default
**/*

# Add base directory files
!README.md
!LICENSE
!Makefile
!.gitignore
!.dockerignore

# Add .github directory
!.github
!.github/**/*

# Add script directory
!scripts
!scripts/**/*

# Add documentation directory
!docs
!docs/**/*

# Add source files
!**/*.slnx
!appsettings.json
!appsettings.Development.json
!**/*.csproj
!**/*.cs
!*.Tests
!*.Tests/**/*

#!my_module
#!my_module/**/*

# Override potential included and not wished files
**/bin/**/*
**/obj/**/*
**/coverage.cobertura.xml
/coveragereport

**/__pycache__

