name: Checks

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

jobs:
  unit_tests:
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          # TODO Add rule to get all the dependencies
          # make deps

  check_conventional_commits_manual:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          # TODO Add rule to get all the dependencies
          # make deps

      - name: Generar Resumen de cobertura
        run: |
          dotnet tool install -g dotnet-reportgenerator-globaltool
          reportgenerator -reports:**/coverage.xml -targetdir:CodeCoverage -reporttypes:MarkdownSummaryGithub

      - name: Publicar en el Resumen del Job
        run: cat CodeCoverage/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: '**/coverage.xml'
          badge: true
          format: 'markdown'
          output: 'both'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

